.Paper {
}

.PaperWrapper {
}

.Title {
    font-size: 16px !important; 
}

@media (min-width: 576px) { 
    .Title {
        font-size: 18px !important; 
    }
}

@media (min-width: 768px) { 
    .Title {
        font-size: 20px !important; 
    }
}

@media (min-width: 992px) { 
    .Title {
        font-size: 22px !important; 
    }
}

div[style="box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; position: relative; width: 310px; max-width: 768px; margin: 0px auto; z-index: 1500; opacity: 1; transform: translate(0px, 64px);"] {
    transform: translateY(0) !important; 
}

